body {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    margin:0px;
    background-color: white;
    color: #2B3233;
    font-family: "Roboto Condensed", sans-serif;
}

.upper-lower {
    background-color: #1FA4B5;
}

header {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_page {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 70vw 30vw;

    overflow-x: hidden;
    overflow-y: auto;
}

.main_page h1 {
    margin: 20px;
}

.main_page p {
    margin: 20px;
}

.main_side {
    grid-column: 1 / 2;
    background-color: white;
}

.second_side {
    background-color: #00C6E0;
    grid-column: 2 / 3;
}

footer {
    grid-column: 1 / 2;
    display: flex;
}

footer a:link {
    color: #2B3233;
}

footer a:visited {
    color: #2B3233;
}

footer p {
    margin-left: 10px;
}

a:hover {
    color: #53a2be;
}