body{
    background-image: url(falke.jpg);
    background-size: 100%;
}

/* overskrift h1 design */
h1{
    font-style: bold;
    font-size: 30px;
    background-color: aliceblue;
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.h1_container {
    width: 100%;
    align-items: center;
}
  
.webteknologier{
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}